

#carousel_characters
{
    width : 150px; 
    height: 150px;

}

.cropped
{
    width : 150px; 
    height: 150px;
    object-fit: cover;
}

#carousel_planets
{
    width : 150px; 
    height: 150px;
}

#carousel_factions
{
    width : 150px; 
    height: 150px;
}

.container_nav
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
}


.carousel-caption 
{
    left:0%;
    bottom:0%;
    width:100%;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.35);
    margin: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    padding: 0;
    margin-bottom: 0;
}

#carousel_all
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow:1;
}

.carousel-item:hover .carousel-caption 
{
    top: auto;
    white-space: normal;
}

.carousel-indicators 
{
    bottom: -2em;
}



