body
{
    color: #1f1d1d;
    background-image: url('../img/background_falcon.jpg');
}

a
{
 color: #2b2828;
}

a:visited
{
 color: #564A49;
}

a:hover{
    color: #93B8BA;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}