@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

body {
    background-image: url("../IMG/background_r2d2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
}

a {
    color: #668688;
}

a:hover {
    color: #ccad85;
}

a:visited {
    color: #5e5141;
}

a:visited:hover{
    color: #ccad85;
}

#reponse {
    padding: 2em;
}